body {
  background-color: #dddddd;
  color: #000000;
  padding-top: 70px;
}
.auth {
  color: #555555;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse {
  background-image: linear-gradient(to bottom, #dddddd 0%, #ffffff 100%);
  border-color: #bbbbbb;
}
