@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  src: url("../res/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  src: url("../res/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: italic;
  src: url("../res/fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  font-style: italic;
  src: url("../res/fonts/Roboto-BoldItalic.ttf");
}
body {
  background-color: #333333;
  color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: Roboto;
  font-weight: normal;
}
.auth {
  color: #555555;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse {
  background-image: linear-gradient(to bottom, #222222 0%, #333333 100%);
  border-color: #bbbbbb;
}
@media (max-width: 767px) {
  #search-results {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1380px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1680px;
  }
  #search-results {
    font-size: 18px;
  }
}
#logo {
  float: left;
}
.button-container {
  padding-top: 50px;
  text-align: center;
}
.navbar-fixed-top {
  border-color: #666666;
  border: 0;
}
#flight-type-selector-container {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  height: 60px;
  vertical-align: middle;
}
.flight-type-selector-label {
  padding-right: 2px;
  padding-left: 2px;
}
.flight-type-selector + label {
  font-size: 14px;
  font-weight: normal;
  margin-left: 6px;
}
#flyxster-title {
  padding-left: 10px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search-params .input-group-addon {
  min-width: 70px;
}
.typeahead {
  width: calc(100% - 70px);
}
.datepicker.dropdown-menu {
  color: #222222;
}
#flyxster-logo {
  max-width: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  visibility: hidden;
}
.date-addon:hover {
  cursor: pointer;
}
input.date:hover {
  cursor: default;
}
.date-disabled {
  background-color: #bbbbbb !important;
}
.flight-result-panel-body {
  background-color: #eeeeee;
  padding: 10px;
}
.flight-result-panel {
  border-color: #eeeeee;
  color: #333333;
}
.flight-direction {
  padding-right: 5px;
}
.price-container {
  font-weight: bold;
}
#search-results {
  font-family: Roboto;
  font-weight: normal;
  color: #333333;
  border: 1px solid #333333;
}
#search-results > thead,
#search-results > thead > tr,
#search-results > thead > tr > th,
#search-results > tbody > tr,
#search-results > tbody > tr > td {
  border: 1px solid #bbb;
}
#search-results > thead {
  font-weight: bold;
}
#search-results > thead > tr > th {
  text-align: center;
  vertical-align: middle;
}
#search-results > tbody > tr:nth-of-type(even) {
  background-color: #cccccc;
}
#search-results > thead,
#search-results > tbody > tr:nth-of-type(odd) {
  background-color: #eeeeee;
}
#search-results > tbody > tr > td.line-expander:hover {
  cursor: pointer;
}
.hidden-row,
.hidden-cell {
  border: 0 !important;
  padding: 0 !important;
}
.airline-logo-container {
  padding: 4px !important;
  text-align: center !important;
}
.airline-logo-container > img {
  width: 30px;
  height: 30px;
  margin-left: 4px;
  margin-right: 4px;
}
.detailed-flight-info,
.detailed-flight-info > thead > tr > th,
.detailed-flight-info > tbody > tr,
.detailed-flight-info > tbody > tr > td {
  border-collapse: collapse;
  padding: 3px 9px;
  font-size: 15px !important;
}
.airline-cell {
  padding-right: 3px !important;
}
.flight-number-cell {
  padding-left: 3px !important;
  padding-right: 12px !important;
}
.departure-weekday-cell {
  padding-left: 12px !important;
  padding-right: 3px !important;
}
.departure-date-cell {
  padding-left: 3px !important;
  padding-right: 12px !important;
}
.departure-airport-cell {
  padding-left: 12px !important;
  padding-right: 3px !important;
}
.departure-airport-code-cell {
  padding-left: 3px !important;
}
.departure-time-cell {
  padding-left: 3px !important;
}
.arrival-time-cell {
  padding-right: 3px !important;
}
.arrival-airport-code-cell {
  padding-right: 3px !important;
}
.arrival-airport-cell {
  padding-left: 3px !important;
  padding-right: 12px !important;
}
.flight-duration-cell {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.price-cell {
  padding-left: 24px !important;
}
.detailed-data-block {
  padding: 0 80px !important;
}
.stops-short-cell {
  text-align: center;
}
.search-again-button-block {
  padding-bottom: 20px;
  text-align: center;
}
